apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-app
  labels:
    app: spring-boot-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-boot-app
  template:
    metadata:
      labels:
        app: spring-boot-app
    spec:
      containers:
      - name: spring-boot-app
        # This tag is usually replaced dynamically by Jenkins using 'sed'
        image: nayandinkarjagtap/project2-maven:35
        ports:
        - containerPort: 8080
